<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask SSD MobileNet V2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
</head>

<body>
    <div class="row justify-content-center">
        <div class="container">
            <h1>Flask SSD MobileNet V2</h1>
            <form action="predict" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-12 col-md-9 mb-2 mb-md-0">
                        <input class="btn btn-primary" type="file" name="file" id="inputFile1">
                        <input class="btn btn-success" type="submit" value="Upload">
                    </div>
                </div>
            </form>
            <br>
            <br>
        </div>
    </div>
</body>

</html>